/**
 *
 * Buttons
 *
 * @author Takuto Yanagida
 * @version 2021-12-03
 *
 */


@use 'common';


%base-button-rect {
	@extend %base;
	@extend %focus;

	color           : var(--nc-form-button-color);
	background-color: var(--nc-form-button-background-color);
	border          : var(--nc-form-button-border-color);
	border-color    : var(--nc-form-button-border-color);

	padding: 0.5em 1em;

	display        : inline-flex;
	justify-content: center;
	align-items    : center;

	cursor: pointer;
}

@mixin main {
	@extend %base-button-rect;
}
